<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   <title>Project one</title>
</head>
<body> 
   <div id="app">
      <form v-on:submit.prevent="handleForm">
         <label for="name">Name</label>
         <input type="text" v-model.trim="formData.name"/> 

         <label for="name">Last Name</label>
         <input type="text" v-model="formData.lastName" />

         <label for="name">Age</label>
         <input type="text" v-model.number="formData.age" />

         <input type="checkbox" id="checked" v-model="formData.checked" />
         <label for="name">Age check {{ formData.checked }}</label>

         <button type="submit">Submit</button>
      </form>
   </div>
   <script>
      const { createApp, ref, reactive } = Vue;
      createApp({
         setup(){

            const formData = ref({
               name: '',
               lastName: '',
               age: '',
               checked: false
            });

            function handleForm(){
               console.log( formData.value );
            }

            return {
               formData,
               handleForm
            };
         }
      }).mount( "#app" );
   </script>
</body>
</html>